
{% extends "database.html" %}

{% block title %} FileManager {% endblock %}

	{% block upload_file_arae %}
    <!--Upload file html-->
		<div class="container">
		  <div class="table-responsive">
				<div class="table-wrapper">
					<div class="row">
						<div class="col-xl-12">
							<div class="mb-3 mt-3">

								<div class="form-group mb-3" style="overflow: hidden">
									<div class="custom-file">
										<input type="file" class="form-control" id="file_input" oninput="input_filename();">
										<label for="file_input" id="file_input_label" class="custom-file-label">Select File</label>
									</div>
								</div>


								<button onclick="upload('{{ request.url }}')" id="upload_btn" class="btn btn-primary">Upload</button>

								<button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
									<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-bottom: 3px;"></span>
									Uploading...
								</button>
								<button class="btn btn-secondary d-none" id="cancel_btn" type="button" >Cancel upload</button>
							</div>

							<div id="progress_wrapper" class="d-none">
								<label id="progress_status">90% uploaded</label>
								<div class="progress mb-3">
									<div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" area-valuemin="0" area-valuemax="100"></div>
								</div>
							</div>

							<div id="alert_wrapper"></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

<!--	table show file-->
	{% block show_file_arae %}
		{{ super() }}
	{% endblock %}



	{% block modal_html %}
		<!-- Download Modal HTML -->
		<div id="DownloadModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form>
						<div class="modal-header">
							<h4 class="modal-title">DownLoad File</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<p>是否确认下载?</p>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="No">
							<input type="submit" class="btn btn-primary" value="Yes">
						</div>
					</form>
				</div>
			</div>
		</div>
			<!-- Delete Modal HTML -->
		<div id="DeleteModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form>
						<div class="modal-header">
							<h4 class="modal-title">Delete Files</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<p>是否想要删除当前选中的文件?</p>
							<p class="text-warning"><small>删除之后无法恢复!</small></p>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
							<input type="submit" class="btn btn-danger" value="Delete">
						</div>
					</form>
				</div>
			</div>
		</div>
  	{% endblock %}
